
table {
    width: 100%;
}

th {
    padding: 20px 20px;
    background-color: #d7d9f2;
}

td {
    text-align: center;
}

.triangle_left {
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-right: 25px solid #555;
    border-bottom: 12.5px solid transparent;
    margin-right: 36px;
}

.triangle_right {
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 25px solid #555;
    border-bottom: 12.5px solid transparent;
    margin-left: 36px;
}

.week_arrow {
    margin-right: 36px;
    margin-left: 36px;
}

#left_arrow_id {
    transform: rotate(180deg);
}

.first_col {
    width: 13%;
    margin-bottom: 8px;
}

.first_col_2 {
    width: 9%;
}

.first_row {
    width: 100%;
}

.calendar_header {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 12px 0;
}

.week_num {
    text-align: center;
    margin: 0 0;
}