<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
            function delete_flash(flash) {
                $(flash).parent().remove()
            }
        </script>
        <!-- Bootstrap CSS -->
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
                crossorigin="anonymous"/>

        <title>{% block title %} Home {% endblock %}</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h4>Tele-Laundry booking system</h4>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% block navigation %}

                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{{ url_for('home_page') }}">Home</a>
                    </li>

                    {% if current_user.is_authenticated %}

                        <li id="calendar_tab" class=" nav-item">
                            {% if current_user.role == 'tenant' %}
                                <a class="nav-link"
                                   href="{{ url_for('user_page') }}">Calendar </a>
                            {% else %}
                                <a class="nav-link"
                                   href="{{ url_for('admin_page') }}">Calendar </a>
                            {% endif %}
                        </li>

                            {% if current_user.role == 'tenant' %}
                            <li id="change_password" class=" nav-item">
                                <a class="nav-link"
                                    href="{{ url_for('change_password') }}">
                                    Change password</a>
                            </li>
                            {% endif %}

                        {% if current_user.role == 'admin' %}
                            <li id='create_tenant_tab' class=" nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('create_account') }}">
                                    Create Tenant Account</a>
                            </li>
                            <li id='delete_tenant_tab' class=" nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('delete_user') }}">
                                    Delete Tenant Account</a>
                            </li>

                        {% endif %}

                        {% if current_user.role == 'tenant' %}
                            <li id="show_environmental_footprint" class="nav-item">
                                <a class="nav-link"
                                    href="{{ url_for('environmental_footprint') }}">
                                    Environmental Footprint</a>
                            </li>
                        {% endif %}

                        <li class=" nav-item">
                            <a class="nav-link"
                               href="{{ url_for('logout_page') }}">Logout</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('login_page') }}">Login</a>
                        </li>
                    {% endif %}

                {% endblock %}

            </ul>

            </form>
        </div>
    </div>
</nav>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category,message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="btn-close btn-close-white"
                        data-dismiss="alert" aria-label="Close"
                        onclick="delete_flash(this)"></button>
                {{ message }}
            </div>

        {% endfor %}
    {% endif %}
{% endwith %}
</ul>

{% block content %}

{% endblock %}
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"
></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>
