<script>
    function confirmBooking(bookDate, bookSlot, timeSlot) {
        if(confirm("Are you sure you want to book on " + bookDate + ", at " + timeSlot + "?") == true) {
            document.getElementById("bookedDate"+bookDate+"-"+timeSlot).value = bookDate;
            document.getElementById("bookedSlot"+bookDate+"-"+timeSlot).value = bookSlot;
            document.getElementById("bookedTime"+bookDate+"-"+timeSlot).value = timeSlot;
        }
        else {
            document.getElementById("cancelConfirm").value = 1;
             return 0;
        }          
    }
</script>
<div>

    <div class="calendar_header">
        <button id="left_arrow_id" onclick="makeRequest(this.id)"
                class="week_arrow">
            <img src="{{ url_for('static', filename='week_toggle_arrow.svg') }}">
        </button>
        <h2 class="week_num">
            Week {{ weeknum }}</h2>
        <button id="right_arrow_id" onclick="makeRequest(this.id)"
                class="week_arrow">
            <img src="{{ url_for('static', filename='week_toggle_arrow.svg') }}">
        </button>
    </div>

    <table>

        <tr class="first_row">
            <td class=first_col_2></td>
            <th class="first_col" scope="col">
                Monday<br> {{ slot_list.get_tag(0, 0) }}</th>
            <th class="first_col" scope="col">
                Tuesday<br> {{ slot_list.get_tag(1, 0) }}</th>
            <th class="first_col" scope="col">
                Wednesday<br> {{ slot_list.get_tag(2, 0) }}</th>
            <th class="first_col" scope="col">
                Thursday<br> {{ slot_list.get_tag(3, 0) }}</th>
            <th class="first_col" scope="col">
                Friday<br> {{ slot_list.get_tag(4, 0) }}</th>
            <th class="first_col" scope="col">
                Saturday<br> {{ slot_list.get_tag(5, 0) }}</th>
            <th class="first_col" scope="col">
                Sunday<br> {{ slot_list.get_tag(6, 0) }}</th>
        </tr>

        {% for s, t in range(5)|zip(["07.00 - 10.00", "10.00 - 13.00", "13.00 - 17.00", "17.00 - 19.00", "19.00 - 21.00"]) %}

            {#Outer loop advances through each slot row#}

            <tr>

                <th scope="row">{{t}}</th>

                {# Inner loop sets the date column value for each slot row. When
            calling get_tag, field_num zero represents _date field, offset s by
             1 so that slot1 ... slot5 is targeted#}

                {% for d in range(7) %}

                    {% if slot_list.get_tag(d,  s + 1) %}
                        <td><b style='color:rgba(189, 22, 22, 0.801) !important;'>Booked</b></td>
                    {% else %}
                        <td>
                            <form action="/booking_status" method="post"> 
                                <input type="hidden" id="bookedDate{{ slot_list.get_tag(d, 0) }}-{{ t }}" name="bookedDate">
                                <input type="hidden" id="bookedSlot{{ slot_list.get_tag(d, 0) }}-{{ t }}" name="bookedSlot">
                                <input type="hidden" id="bookedTime{{ slot_list.get_tag(d, 0) }}-{{ t }}" name="bookedTime">
                                <input type="hidden" id="cancelConfirm" name="cancelConfirm">                             
                                <button type="submit" name="free_button" value="free_button" style='border: none;'
                                onClick="confirmBooking('{{ slot_list.get_tag(d, 0) }}','{{ s + 1 }}' ,'{{ t }}')" {{ hide_button() }} > 
                                <b style='color:rgba(1, 99, 30, 0.801) !important;'>Free</b></button> 
                           </form>
                        </td>
                    {% endif %}

                {% endfor %}

            </tr>

        {% endfor %}

    </table>

</div>