<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="EN">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='calendar.css') }}">

    <script>

        {# JS code to hide calendar tab when in Calendar view #}

        let menu_tab = document.getElementById('calendar_tab');
        menu_tab.setAttribute("hidden", 'true');

        {# JS code manages shifting between calender week #}

        let request;
        let shift_pos = 0;

        function makeRequest(viewId) {
            request = new XMLHttpRequest();
            if (!request) {
                alert("Error, could not show the requested week!");
                return false;
            }
            const formData = new FormData();
            let pos = (viewId === "left_arrow_id") ? --shift_pos : ++shift_pos;
            formData.append("shift_position", "" + pos)
            request.onreadystatechange = responseContents;
            request.open("POST", "home");
            // Since explicitly using FormData object, omit ->
            // request.setRequestHeader("content-type", "multipart/form-data")
            request.send(formData);
        }

        function responseContents() {
            if (request.readyState === XMLHttpRequest.DONE) {
                if (request.status === 200) {
                    let div = document.getElementById("calendar_content");
                    div.innerHTML = request.responseText;
                } else {
                    alert("There was an issue with the request - code " + request.status)
                }
            }
        }
    </script>

</head>
<body>

<div id="calendar_content">

    {% include 'calendar_div.html' %}

</div>

</body>
</html>