{% extends 'base.html' %} {% block title %}
    Change user password
{% endblock %} {% block content %}


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='change_delete_create.css') }}">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change</title>

    <body>
    <h1>Change password</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.newPassword.label() }}
            {{ form.newPassword( type="password", id="password", placeholder="Password") }}
        </p>

        </fieldset>
        <button type="submit">Change!</button>
    </form>
    </body>

{% endblock %}
