{% extends 'base.html' %} {% block title %}
    Create Tenant Account
{% endblock %} {% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function delete_flash(flash) {
            $(flash).parent().remove()
        }

        {# JS code to hide tab when in Create Tenant view #}

        let menu_tab = document.getElementById('create_tenant_tab');
        menu_tab.setAttribute("hidden", 'true');
    </script>


<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='change_delete_create.css') }}">



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation</title>

    <body>


    <h1>Create Tenant Account</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <p>

            {{ form.username.label() }}
            {{ form.username(type="text", id="name",  placeholder="Username") }}

            {{ form.first_name.label() }}
            {{ form.first_name(type="text" ,id="name",  placeholder="First Name") }}


            {{ form.last_name.label() }}
            {{ form.last_name(type="text" ,id="name",  placeholder="Last Name") }}

            {{ form.password1.label() }}
            {{ form.password1( type="password", id="password", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(type="password", id="password", placeholder="Confitm password") }}


            {{ form.phone.label() }}
            {{ form.phone( type="text", id="name", placeholder="Tenant's phonenumber") }}


            {{ form.email.label() }}
            {{ form.email(type="email", id="mail", placeholder="Tenant's email Address") }}


        </p>

        </fieldset>
        <button type="submit">Create!</button>
    </form>
    <ul>

    </ul>
    </body>
{% endblock %}
