{% extends 'base.html' %} {% block title %}
    Delete Tenant Account
{% endblock %} {% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function delete_flash(flash) {
        $(flash).parent().remove()
    }
    {# JS code to hide tab when in Delete Tenant view #}

    let menu_tab = document.getElementById('delete_tenant_tab'); 
    menu_tab.setAttribute("hidden", 'true');
</script>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='change_delete_create.css') }}">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Creation</title>


<body>
    <h1>Delete Tenant Account</h1>
    <form action="" method="POST">
            {{ form.hidden_tag() }}

        <p>
            {{ form.username.label() }}
            {{ form.username(type="text", id="name",  placeholder="Username") }}
        </p>
        <button type="submit">Delete!</button>
    </form>
    </body>

{% include 'users_table.html' %}

{% endblock %}
