{% extends 'base.html' %}

{% block title %}
User environmental footprint
{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js"
    integrity="sha512-opXrgVcTHsEVdBUZqTPlW9S8+99hNbaHmXtAdXXc61OUU6gOII5ku/PzZFqexHXc3hnK8IrJKHo+T7O4GRIJcw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="centered">
    <h1 class="arrows" id="previousYear">&#8592;</h1>
    <h1 id="year"></h1>
    <h1 class="arrows" id="nextYear">&#8594;</h1>
</div>

<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>

<script src="{{ url_for('static', filename='environmental_footprint.js') }}"></script>

<style>
    div {
        display: flex;
        justify-content: center;
    }

    h1.arrows {
        cursor: pointer;
    }

    .chart-container {
        position: relative;
        height: 40vh;
        width: 80vw;
        left: 50%;
        transform: translateX(-50%);
    }
</style>

{% endblock %}