{% extends 'base.html' %} {% block title%} Login Page {% endblock %} {% block
content %}

<style>
  @import "bourbon";

  body {
    background: #eee !important;
  }

  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      @include box-sizing(border-box);

      &:focus {
        z-index: 2;
      }
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
</style>

<div class="wrapper">
  <form action="" method="POST" class="form-signin">
    {{ form.hidden_tag() }}
    <h2 class="form-signin-heading">Please login</h2>
    {{ form.username.label() }} {{ form.username(class="form-control",
    placeholder="User Name") }}

    <br />
    {{ form.password.label() }} {{ form.password(class="form-control",
    placeholder="Password")}}
    <br />
    <button class="btn btn-outline-primary" type="submit">Login</button>
  </form>
</div>
{% endblock %}
