{% extends 'base.html' %}

{% block title %} Calender {% endblock %}

{% block content %}

    <h1>Hi, {{ current_user.first_name }}</h1>

    <p>To make a booking, click on an available slot.</p>

    {% include 'calendar.html' %}

{% endblock %}
