<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='user_table.css') }}">
<title>  User Table</title>
</head>

<head>
  <style>
  #username {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #username td, #username th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #username tr:nth-child(even){background-color: #f2f2f2;}
  
  #username tr:hover {background-color: #ddd;}
  
  #username th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4bc970;
    color: white;
  }
  </style>
</head>

<body>

  <table id="username">
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
    </tr>
  {% endfor %}

  </table>
  </body>
</html>
