{% extends 'base.html' %} {% block title %}
User Page{% endblock %}

{% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='user_view.css') }}">



</head>
<body>

<div class="calendar_header">
    <div class="triangle_left"></div>
    <h2 class="week_num">Week 18</h2>
    <div class="triangle_right"></div>
</div>


<table>

    <tr class="first_row">
        <td class=first_col_2></td>
        <th class="first_col" scope="col">
            Monday<br> {{ slot_list.get_tag(0, 0) }}</th>
        <th class="first_col" scope="col">
            Tuesday<br> {{ slot_list.get_tag(1, 0) }}</th>
        <th class="first_col" scope="col">
            Wednesday<br> {{ slot_list.get_tag(2, 0) }}</th>
        <th class="first_col" scope="col">
            Thursday<br> {{ slot_list.get_tag(3, 0) }}</th>
        <th class="first_col" scope="col">
            Friday<br> {{ slot_list.get_tag(4, 0) }}</th>
        <th class="first_col" scope="col">
            Saturday<br> {{ slot_list.get_tag(5, 0) }}</th>
        <th class="first_col" scope="col">
            Sunday<br> {{ slot_list.get_tag(6, 0) }}</th>
    </tr>

    {% for s in range(5) %}

        {#Outer loop advances through each slot row#}
        
        <tr>

            <th scope="row">Slot {{ s + 1 }}</th>

            {# Inner loop sets the date column value for each slot row. When
            calling get_tag, field_num zero represents _date field, offset s by
             1 so that slot1 ... slot5 is targeted#}

            {% for d in range(7) %}

                {% if slot_list.get_tag(d,  s + 1) %}
                    <td>Booked</td>
                {% else %}
                    <td>Free</td>
                {% endif %}

            {% endfor %}

        </tr>

    {% endfor %}

</table>

</body>


{% endblock %}
